@charset "utf-8";

:root {
  --bg-color: #1c1e21;
  --bg-color-active: #1b1b1d;
  --color: #25c2a0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  position: relative;
  font-family: monospace;
}

html,
#code-edit {
  background-color: var(--bg-color);
  color: var(--color);
}

main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 5px;

  margin: 10px;
}

#code-view,
#code-edit {
  flex-grow: 1;

  overflow-y: auto;
}

#code-view {
  white-space: pre-wrap;
}

#code-view-content {
  /* Fix line number alignment bug: https://github.com/PrismJS/prism/issues/1132#issue-225969024 */
  display: inline-block;
}

#code-edit {
  display: none;

  font-family: monospace;
  resize: none;
}

button,
select,
input {
  background-color: var(--bg-color);
  color: var(--color);

  font-family: monospace;
}

button {
  font-size: 1.5rem;

  padding: 0.7rem;

  border: 1px solid var(--color);
  border-radius: 5px;
}

button:active {
  background-color: var(--bg-color-active);
}

#length {
  font-size: 1.2rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
